include README.md
include LICENSE
include pyproject.toml
recursive-include algebra *
recursive-include common *
recursive-include docs *
recursive-include lattices *
recursive-include maths *
recursive-include ml *
recursive-include physics *
recursive-include run_scripts *
recursive-include tests *
global-exclude *.py[cod]
global-exclude __pycache__
